<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather Data API</title>
</head>
<body>

<h1>Weather Data API</h1>
<p>URL format: http://127.0.0.1:5000/api/v1/station/date</p>
<p>URL format: http://127.0.0.1:5000/api/v1/10/1990-10-30</p>

<h1>Dictionary</h1>

<a href="http://127.0.0.1:5000/api/v1/10">Return list</a>

<a href="http://127.0.0.1:5000/api/v1/yearly/10/1990">http://127.0.0.1:5000/api/v1/yearly/10/1990</a>

<p>URL format: http://127.0.0.1:5000/api/v2/word</p>
<p>URL format: http://127.0.0.1:5000/api/v2/casing</p>
<p>URL format: http://127.0.0.1:5000/api/v2/casing</p>
<p>{{data | safe}}</p>




</body>
</html>